@using System.Data;

@{ Layout = "/Views/Shared/_LayoutTeacher.cshtml"; }
<body>




    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="st_title"><i class="uil uil-book-alt"></i>Courses</h2>
                </div>
                <div class="col-md-12">
                    <div class="card_dash1">
                        <div class="card_dash_left1">
                            <i class="uil uil-book-alt"></i>
                            <h1>Jump Into Course Creation</h1>
                        </div>
                        <div class="card_dash_right1">
                            <button class="create_btn_dash" onclick="window.location.href = '../CreateCourses/Indexcreatecourses'">Create Your Course</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="my_courses_tabs">
                        <ul class="nav nav-pills my_crse_nav" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-my-courses-tab" data-toggle="pill" href="#pills-my-courses" role="tab" aria-controls="pills-my-courses" aria-selected="true"><i class="uil uil-book-alt"></i>My Courses</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-my-courses" role="tabpanel">
                                <div class="table-responsive mt-30">
                                    <table class="table ucp-table">
                                        <thead class="thead-s">
                                            <tr>
                                                <th class="text-center" scope="col">Course Name</th>
                                                <th>Title</th>
                                                <th class="text-center" scope="col">Publish Date</th>

                                                <th class="text-center" scope="col">Category</th>
                                                <th class="text-center" scope="col">Status</th>
                                                <th class="text-center" scope="col">Action</th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                            @foreach (DataRow row in Model.Rows)
                                            {
                                            <tr>
                                                <td class="text-center">@row["Course_name"]</td>
                                                <td class="text-center">@row["Course_Title"]</td>
                                                <td class="text-center">@row["EntryDateTime"]</td>
                                                <td class="text-center">@row["Course_Category"]</td>
                                                <td class="text-center"><b class="course_active">@row["Status"]</b></td>
                                                <td class="text-center">
                                             
                                                    <a href="#" title="Delete" name="dltbutton" value="Delete" class="gray-s">@ViewBag.Deletebutton<i class="uil uil-trash-alt"></i></a>
                                                </td>


                                            </tr>}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="../../js/vertical-responsive-menu.min.js"></script>
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../..//bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="../../vendor/semantic/semantic.min.js"></script>
    <script src="../..//custom1.js"></script>
    <script src="../../js/night-mode.js"></script>
    <script src="../../js/datepicker.min.js"></script>
    <script src="../../js/i18n/datepicker.en.js"></script>
</body>

