
@using System.Data;
@{ Layout = "/Views/Shared/" + ViewData["layout"].ToString();



}﻿

<body>

    
    <style>
      .heart i.uil-heart{
          color:red;
      }
            
   
    </style>
    



    <!-----!!!!!!!!! THERE IS HEART IN SAVE OPTION, WHICH IS NOT WORKING LIKE HEART IS NOT FILLED WHILE USER CLICKED ON SAVE BUTTON !!!!!!!!!!!-->

    <!-----!!!!!!! ATTACHMENT DOWNLOAD IN PDF FORM IS REMAIN !!!!!!!!!!!!!!!!!!-->

    <!----!!!!!!! THERE IS PROBLEM WITH TOPIC TAB MINIMIZATION !!!!!!-->






   
<!-- TOP PART OF COURSE DETAILS PAGE-->
    <div class="_215b01">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section3125">
                        <div class="row justify-content-center">
                            @foreach (DataRow row in Model.Rows)
                            {
                                <div class="col-xl-4 col-lg-5 col-md-6">
                                    <div class="preview_video">
                                        <a class="fcrse_img" href="../CourseDetails/IndexCourseDetails">
                                            <img src="@row["course_image"]" alt="" style="height:170.59px" />
                                            <div class="course-overlay">
                                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                <span class="_215b02">Preview this course</span>
                                            </div>
                                        </a>

                                    </div>
                                    <div class="_215b10">
                                        <a href="#" class="_215b11 save">
                                            <span><i class="uil uil-heart" id="heart" onclick="Save('@row["Course_id"]')"></i></span>Save
                                        </a>
                                        <a href="#" class="_215b12">
                                            <span><i class="uil uil-windsock"></i></span>Report abuse
                                        </a>
                                    </div>
                                </div>





                                <div class="col-xl-8 col-lg-7 col-md-6">
                                    <div class="_215b03">
                                        <a href="#" class="crse-cate">@row["Course_name"] </a>

                                        <a href="#" class="crse-cate">@row["Course_Category"] </a>
                                        <a href="#" class="crse-cate">@row["Course_Level"]</a>
                                        <a herf="#" class="crse-cate mt-2" style="color:White"><h2>@row["EnrolStatus"]</h2></a>

                                    </div>
                                    <div class="_215b05">
                                        <ul class="_215b31">
                                            <li>
                                                @if (row["EnrolStatus"].ToString() != "Enrolled")
                                                {
                                                    <a href="/TeacherArea/CourseDetails/EnrollCourse?Course_id=@row["Course_id"]" title="Submit" id="Enrollbtn"
                                                       class="btn_adcart" value=" ">Enroll Now</a>}
                                        </ul>
                                        </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!--TOPIC, ECONTENT,TEST-->


    <div class="_215b15 _byt1458">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="course_tabs">
                        <nav>
                            <div class="nav nav-tabs tab_crse justify-content-center" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-selected="true">About</a>
                                <a class="nav-item nav-link" id="nav-courses-tab" data-toggle="tab" href="#nav-courses" role="tab" aria-selected="false">Courses Content</a>
                                <!-- <a class="nav-item nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-selected="false">Reviews</a>-->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="_215b17">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="course_tab_content">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-about" role="tabpanel">
                                <div class="_htg451">
                                    
                                    <div class="_htg452 mt-35">
                                        <h3>Description</h3>
                                        @foreach (DataRow row in Model.Rows)
                                        {
                                       @row["Course_Description"];
                                        }
                                         </div>
                                 
                                </div>
                            </div>




                            <div class="tab-pane fade" id="nav-courses" role="tabpanel">
                                <div class="crse_content">
                                    <h3>Course content</h3>
                                    <div class="_112456">
                                        <ul class="accordion-expand-holder">
                                            <li><span class="accordion-expand-all _d1452">Expand all</span></li>
                                            @*<li><span class="_fgr123">  lectures</span></li>*@
                                            
                                        </ul>
                                    </div>
                                    <div id="accordion" class="ui-accordion ui-widget ui-helper-reset">
                                      
                                        <div class="section-header-left">

                                            @foreach (var item in ViewData["Topics"] as List<E_learning.Areas.TeacherArea.Models.Showtopic>)
                                            {
                                                <a href="javascript:void(0)" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                                                    <h2>
                                                        <i class='uil uil-file icon_142'>

                                                            <span class="section-title-text">
                                                                 @item.Topic_name
                                                            </span>
                                                        </i>
                                                    </h2> </a>
                                                    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">


                                                        <div class="container-fluid">

                                                            <div class="top">
                                                                <div class="title">@item.Topic_Description</div>

                                                            </div>
                                                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom mt-5">
                                                                <h4><i class=" uil uil-presentation-play crse_icon "> <span class="section-title-text">Econtent </span></i></h4>
                                                                <div class="mt-3">

                                                                    <table class="table" id="table1">
                                                                        <thead>
                                                                            @if (item.Video != "") 
                                                                            {
                                                                                <tr>
                                                                                    <th scope="row" class="uil uil-play-circle icon_142" style="border-bottom: 1px solid #DEE2E5"> Video</th>
                                                                                    <td style="border-bottom: 1px solid #DEE2E5">

                                                                                        <a href="#" onclick="GetContent('@item.Topic_id','@item.Video')">@item.Video</a>
                                                                                    </td>
                                                                                </tr>
                                                                            }

                                                                            @if (item.external_link != "")
                                                                            {
                                                                        <tr>
                                                                            <th scope="row" class="uil uil-link-alt icon_142" data-icon="bi:link" style="border-bottom: 1px solid #DEE2E5"> External Link</th>
                                                                            <td style="border-bottom: 1px solid #DEE2E5">
                                                                                <a style="border-bottom: 1px solid #DEE2E5" href="#"  onclick="GetContent('@item.Topic_id','@item.external_link')">@item.external_link</a>
                                                                        </td>
                                                                                </tr>
                                                                            }

                                                                            @if (item.attachment != "")
                                                                            {
                                                                                <tr>
                                                                                    <th scope="row" class="uil uil-file-download-alt bi-filetype-html icon_142" style="border-bottom: 1px solid #DEE2E5"> Attachment </th>
                                                                                    <td style="border-bottom: 1px solid #DEE2E5">@item.attachment</td>
                                                                                </tr>
                                                                            }
                                                                        </thead>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                            

                                                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom mt-3">
                                                                <a href="/StudentArea/StudentTest/IndexStudentTest?Topic_id=@item.Topic_id">  <h4 style="font-size:1.27em"> <i class=" uil uil-file-question-alt "> <span class="section-title-text">Test </span></i></h4></a>
                                                                <div class="mt-3">
                                                                    
                                                                </div>
                                                            </div>

                                                        </div>




                                                    </div>

                                                    }


                                            </div>
                                            <!--<div class="section-header-right">
                                                <span class="num-items-in-section">8 lectures</span>
                                                <span class="section-header-length">22:08</span>
                                            </div>-->
                                
                                      
                                      
                                    </div>
                                    <a class="btn1458" href="#"> More Sections</a>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="js/vertical-responsive-menu.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="vendor/semantic/semantic.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/night-mode.js"></script>



    <script type="text/javascript">
        function GetContent(TopicId,urlval) {

            $.ajax({
                url: '/TeacherArea/CourseDetails/Userlog',
                type: 'POST',
                data: { TId: TopicId},
                dataType: 'html',
                success: function (result) {

                    window.location.href = urlval;
                  
                },
                error: function () { alert("Whooaaa! Something went wrong..") },
            });
        }

        function Save(CourseId) {
            $.ajax({
                url: '/TeacherArea/CourseDetails/SaveCourse',
                type: 'POST',
                data: { CId: CourseId },
                dataType: 'html',
                success: function (result) {
                    $(document).ready(function () {
                        $(".heart").click(function () {
                            $(this).toggleClass("heart");

                        });
                    });
                },
                error: function () { alert("Whooaaa! Something went wrong..") },
            });
            
        }
    </script>
</body>
