@using System.Data;
@{ Layout = "/Views/Shared/_LayoutTeacher.cshtml"; }﻿

<body>
    <!---DropDown Course name and Show And Add Topic Button-->
    <div class="sa4d25">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="st_title"><i class="uil uil-analysis"></i> Topic And E-Content</h2>
                </div>
            </div>

            <div class="col-12">

                <div class="tab-from-content">

                    <div class="curriculum-section">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="/TeacherArea/CourseTopic/GetTopiclist" method="post">
                                    <div class="curriculum-add-item">
                                        <div class="col-md-2">
                                            <h4 class="section-title mt-0">Course</h4>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <select class="ui hj145 dropdown cntry152 prompt srch_explore" name="CrList">
                                                @foreach (var item in ViewData["CoursesList"] as List<E_learning.Areas.TeacherArea.Models.CourseList>)
                                                {
                                                    <option value="@item.courseId">@item.coursename</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="main-btn color btn-hover ml-left add-section-title" type="submit">Show</button>
                                        </div>

                                        <div class="col-md-2">
                                            <a class="main-btn color" id="Addtopic" data-toggle="modal" data-target="#add_section_model">Add Topic</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <!---Topic and Quiz Model-->
    <div class="modal fade" id="add_section_model" tabindex="-1" aria-labelledby="lectureModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lectureModalLabel">Topic And Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <form action="TopicLecture" method="post">
                    <div class="curriculum-add-item">
                        <div class="col-md-2">
                            <h4 class="section-title mt-0"> Select Course</h4>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <select class="ui hj145 dropdown cntry152 prompt srch_explore" name="CrList">
                                @foreach (var item in ViewData["CoursesList"] as List<E_learning.Areas.TeacherArea.Models.CourseList>)
                                {
                                    <option value="@item.CourseCode">@item.coursename</option>
                                }
                            </select>
                        </div>


                    </div>
                    <div class="modal-header">
                        <div class="nav nav-pills flex-column flex-sm-row nav-tabs" role="tablist">

                            <a class="flex-sm-fill text-sm-center nav-link active" data-toggle="tab" href="#nav-lecture" id="addlecture" role="tab" aria-selected="true" style="background-color: #ed2a26"><i class="fas fa-file-alt mr-2"></i>Add Lecture</a>
                            @*<a class="flex-sm-fill text-sm-center nav-link " data-toggle="tab" href="#nav-quiz" id="#addquiz" role="tab" aria-selected="false" style="background-color: #ed2a26"><i class="fas fa-stream mr-2"></i>Add Quiz </a>*@
                        </div>

                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-lg-12 col-md-12">
                                <div class="ui search focus lbel25 mt-30">
                                    <label>Topic Name*</label>
                                    <input class="form_input_1" type="text" name="Topic_name" placeholder="Topic Name here">
                                </div>
                            </div>


                            <div class="col-lg-12 col-md-12">
                                <div class="course_des_textarea mt-30 lbel25">
                                    <label>Topic Description*</label>
                                    <div class="course_des_bg">
                                        <ul class="course_des_ttle">
                                            <li><a href="#"><i class="uil uil-bold"></i></a></li>
                                            <li><a href="#"><i class="uil uil-italic"></i></a></li>
                                            <li><a href="#"><i class="uil uil-list-ul"></i></a></li>
                                            <li><a href="#"><i class="uil uil-left-to-right-text-direction"></i></a></li>
                                            <li><a href="#"><i class="uil uil-right-to-left-text-direction"></i></a></li>
                                            <li><a href="#"><i class="uil uil-list-ui-alt"></i></a></li>
                                            <li><a href="#"><i class="uil uil-link"></i></a></li>
                                            <li><a href="#"><i class="uil uil-text-size"></i></a></li>
                                            <li><a href="#"><i class="uil uil-text"></i></a></li>
                                        </ul>
                                        <div class="textarea_dt">
                                            <div class="ui form swdh339">
                                                <div class="field">
                                                    <textarea rows="5" name="Topic_Description" id="id_course_description" placeholder="Insert your Topic description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-12 col-md-12">
                                <div class="ui search focus lbel25 mt-30">
                                    <label>Video URL*</label>
                                    <input class="form_input_1" type="text" name="videoUrl" placeholder="Video URL here">
                                </div>
                            </div>


                            <div class="col-lg-12 col-md-12">
                                <div class="ui search focus lbel25 mt-30">
                                    <label>External URL*</label>
                                    <input class="form_input_1" type="text" name="URL" placeholder="External URL here">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="ui search focus lbel25 mt-30">
                                    <div class="upload-btn">
                                        <label>Attachment*</label>
                                        <input class="uploadBtn-main-input" name="FileName" type="file" id="SourceFile__input--source">
                                        <label for="SourceFile__input--source" title="Zip"><i class="far fa-plus-square mr-2"></i>Add File here</label>
                                    </div>
                                    <span class="uploadBtn-main-file">Supports: jpg, jpeg, png, pdf or .zip</span>


                                </div>

                            </div>
                        </div>


                    </div>

                    <div class="modal-header">
                        <div class="nav nav-pills flex-column flex-sm-row nav-tabs" role="tablist">

                            <a class="flex-sm-fill text-sm-center nav-link active" data-toggle="tab" href="#nav-lecture" id="addlecture" role="tab" aria-selected="true" style="background-color: #ed2a26"><i class="fas fa-file-alt mr-2"></i>Add Quiz</a>
                            @*<a class="flex-sm-fill text-sm-center nav-link " data-toggle="tab" href="#nav-quiz" id="#addquiz" role="tab" aria-selected="false" style="background-color: #ed2a26"><i class="fas fa-stream mr-2"></i>Add Quiz </a>*@
                        </div>

                    </div>

                    <div class="modal-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <div>
                                    @for (int i = 1; i <= 3; i++)
                                    {
                                        <div class="col-lg-12 col-md-12">
                                            <div class="ui search focus lbel25 mt-30">

                                                <label>Question @i</label>
                                                <input class="form_input_1" type="text" placeholder="Question Name here" name="Question_@i">
                                            </div>

                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-5 mr-md-5 mt-md-3">

                                                        A <input id="Radio1" type="radio" value="A" class="radio-item btn-group" onclick="showalert();" name="OptionA_@i" />

                                                        <input class="form_input_1" type="text" name="Questions_options" placeholder="Answer Option here" />

                                                    </div>
                                                    <div class="col-lg-5 mr-md-5 mt-md-3">

                                                        B <input id="Radio1" type="radio" value="B" class="radio-item btn-group" onclick="alert('This is the correct answer');" name="OptionA_@i" />
                                                        <input class="form_input_1" type="text" name="Questions_options" placeholder="Answer Option here" />

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-5 mr-md-5 mt-md-3">

                                                        C <input id="Radio1" type="radio" value="C" class="radio-item btn-group" onclick="alert('This is the correct answer');" name="OptionA_@i" />
                                                        <input class="form_input_1" type="text" name="Questions_options" placeholder="Answer Option here" />

                                                    </div>
                                                    <div class="col-lg-5 mr-md-5 mt-md-3">

                                                        D  <input id="Radio1" type="radio" value="D" class="radio-item btn-group" onclick="alert('This is the correct answer');" name="OptionA_@i" />
                                                        <input class="form_input_1" type="text" name="Questions_options" placeholder="Answer Option here" />


                                                    </div>

                                                </div>
                                                <hr style="border: none; border-top: 1px solid #333; color: #333; overflow: visible; text-align: center; height: 5px" />
                                            </div>


                                        </div>

                                    }
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="step-footer step-tab-pager">

                            <button data-direction="finish" class="btn btn-default steps_btn">Submit</button>

                        </div>
                    </div>
                </form>






            </div>


        </div>
    </div>


    <!--TOPic Details Show-->
    <div class="sa4d25">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="my_courses_tabs">
                        <ul class="nav nav-pills my_crse_nav" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-my-courses-tab" data-toggle="pill" href="#pills-my-courses" role="tab" aria-controls="pills-my-courses" aria-selected="true">Topic</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-my-courses" role="tabpanel">
                                <div class="table-responsive mt-30">
                                    <table class="table ucp-table">
                                        <thead class="thead-s">
                                            <tr>
                                                <th class="text-center" scope="col">Course Code</th>

                                                <th class="text-center" scope="col">Topic Name</th>

                                                <th class="text-center" scope="col">Topic Description</th>

                                                <th class="text-center" scope="col">Econtent</th>

                                                <th class="text-center" scope="col">Status</th>
                                                <th class="text-center" scope="col">Action</th>
                                            </tr>
                                        </thead>


                                        <tbody>

                                            @if (ViewData["TopicList"] != null)
                                            {
                                                @foreach (var item in ViewData["TopicList"] as List<E_learning.Areas.TeacherArea.Models.Showtopic>)
                                                {
                                                    <tr>
                                                        <td class="text-center">@item.Course_code</td>
                                                        <td class="text-center">@item.Topic_name</td>
                                                        <td class="text-center">@item.Topic_Description</td>

                                                        <td class="text-center"> <a class="main-btn color" data-toggle="modal" data-target="#show_econtent_model">Show EContent</a></td>
                                                        <td class="text-center"> <b class="course_active"></b>@item.Status</td>
                                                        <td class="text-center">

                                                            <a href="#" type="submit" name="dltbutton" value="Delete" class="gray-s">@ViewBag.Deletebutton<i class="uil uil-trash-alt"></i></a>
                                                        </td>
                                                    </tr>
                                                }

                                            }

                                        </tbody>

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="show_econtent_model" tabindex="-1" aria-labelledby="lectureModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">EContent</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="table-responsive mt-30">
                        <table class="table ucp-table">
                            <thead class="thead-s">
                                <tr>
                                    <th class="text-center" scope="col">Video URL</th>

                                    <th class="text-center" scope="col">Other URL</th>

                                    <th class="text-center" scope="col">Attachment</th>


                                </tr>
                            </thead>
                        </table>
                    </div>
                
            </div>
        </div>
    </div>

    @*<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
            <script src="../../js/vertical-responsive-menu.min.js"></script>
            <script src="../../js/jquery-3.3.1.min.js"></script>
            <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="../../vendor/OwlCarousel/owl.carousel.js"></script>
        <script src="../../vendor/semantic/semantic.min.js"></script>
        <script src="../../vendor/jquery-ui-1.12.1/jquery-ui.js"></script>
        <script src="../../js/custom.js"></script>
        <script src="../../js/night-mode.js"></script>
        <script src="../../js/jquery-steps.min.js"></script>
        <script>
                $('#add-course-tab').steps({
                    onFinish: function () {
                        alert('Wizard Completed');
                    }
                });
            </script>
            <script>
                $(function () {
                    $(".sortable").sortable();
                    $(".sortable").disableSelection();
                });

            </script>*@

</body>